@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Frankfurter Highlight';
  src: url('/fonts/frankfurter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo';
  src: url('/fonts/baloo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}